@import '../../assets/scss/imports/tokens';
@import '../../assets/scss/reset';

@mixin standard-focus {
  border-color: $blue-primary !important;
  background-color: $blue-primary !important;
  color: $neutral-white !important;
}

.base-btn {
  width: fit-content;
  flex-wrap: nowrap;
  padding: 0px 7px;
  border-radius: $border-radius-base;
  outline: none;
  border: $border-base solid;
  font-size: $text-base;
  line-height: $line-height-base;
  text-wrap: nowrap;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
  @include transition-effect;
  @include flex-row($tiny);
  position: relative;

  &:active:not(:disabled) {
    filter: brightness(1.2);
  }

  &.me-button-icon-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  &.me-button-icon-left {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  &.me-button-icon-bottom {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  &.me-button-icon-right {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .base-btn-icon,
  .base-btn-icon-custom {
    user-select: none;
    font-size: $icon-base;
    line-height: $line-height-base;
    width: $icon-base !important;
    height: $icon-base !important;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:focus-visible {
    @include drop-shadow-extra-hard;
  }

  &:hover:not(:disabled) {
    @include transition-effect;
  }

  &-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .me-button__notification-dot {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 10px;
      height: 10px;
      background: $red-secondary;
      border-radius: 50%;
      border: 0.1px solid $neutral-white;
      display: block;
  }
}

.default-style {
  height: 36px;
  color: $neutral-white;

  &.red {
    background-color: $red-primary;
    border-color: $red-primary;

    &:hover:not(:disabled) {
      background-color: $red-secondary;
      border-color: $red-secondary;
    }

    &:disabled {
      background-color: $red-quinary;
      border-color: $red-quinary;
    }

    &:focus-visible {
      border-color: $ocean-primary;
    }
  }

  &.orange {
    background-color: $orange-primary;
    border-color: $orange-primary;

    &:hover:not(:disabled) {
      background-color: $orange-secondary;
      border-color: $orange-secondary;
    }

    &:disabled {
      background-color: $orange-quinary;
      border-color: $orange-quinary;
    }

    &:focus-visible {
      border-color: $ocean-primary;
    }
  }

  &.blue,
  &.gray {
    background-color: $blue-primary;
    border-color: $blue-primary;

    &:hover:not(:disabled) {
      background-color: $blue-secondary;
      border-color: $blue-secondary;
    }

    &:disabled {
      background-color: $blue-quaternary;
      border-color: $blue-quaternary;
    }

    &:focus-visible {
      border-color: $ocean-primary;
    }
  }
}

.outlined-style {
  height: 36px;
  background-color: transparent;
  border-color: $neutral-light;

  &.gray {
    color: $neutral-darkest;

    &:hover:not(:disabled) {
      border-color: $neutral-dark;
      background-color: $neutral-dark;
      color: $neutral-white;
    }

    &:disabled {
      color: $neutral-default;
    }

    &:focus-visible {
      background-color: $neutral-dark;
      color: $neutral-white;
    }
  }

  &.red {
    color: $red-primary;

    &:hover:not(:disabled) {
      border-color: $red-secondary;
      background-color: $red-secondary;
      color: $text-white;
    }

    &:disabled {
      color: $red-quinary;
    }

    &:focus-visible {
      background-color: $red-primary;
      color: $text-white;
    } 
  }

  &.orange {
    color: $orange-secondary;

    &:hover:not(:disabled) {
      border-color: $orange-primary;
      background-color: $orange-primary;
      color: $text-white;
    }

    &:disabled {
      color: $orange-quinary;
    }

    &:focus-visible {
      background-color: $orange-secondary;
      color: $text-white;
    }
  }

  &.blue {
    color: $blue-primary;

    &:hover:not(:disabled) {
      border-color: $blue-secondary;
      background-color: $blue-secondary;
      color: $text-white;
    }

    &:disabled {
      color: $blue-quaternary;
    }

    &:focus-visible {
      background-color: $blue-secondary;
      color: $text-white;
    }
  }
}

.flat-style {
  height: 20px;
  padding: 0px;
  border: none;
  background-color: transparent;

  &.gray {
    color: $neutral-darkest;

    &:hover:not(:disabled) {
      color: $neutral-dark;
    }

    &:disabled {
      color: $neutral-default;
    }
  } 

  &.red {
    color: $red-primary;

    &:hover:not(:disabled) {
      color: $red-secondary;
    }

    &:disabled {
      color: $red-quinary;
    }
  }

  &.orange {
    color: $orange-secondary;

    &:hover:not(:disabled) {
      color: $orange-tertiary;
    }

    &:disabled {
      color: $orange-quinary;
    }
  }

  &.blue {
    color: $blue-primary;

    &:hover:not(:disabled) {
      color: $blue-secondary;
    }

    &:disabled {
      color: $blue-quaternary;
    }
  }
}

.active-blue-style {
  background-color: transparent !important;
  border-color: $blue-primary !important;
  color: $blue-primary !important;

  &:hover:not(:disabled) {
    @include standard-focus;
  }
}

.active-yellow-style {
  background-color: transparent !important;
  border-color: $mustard-primary !important;
  color: $mustard-primary !important;

  &:hover:not(:disabled) {
    @include standard-focus;
  }
}

.active-pink-style {
  background-color: transparent !important;
  border-color: $pink-primary !important;
  color: $pink-primary !important;

  &:hover:not(:disabled) {
    @include standard-focus;
  }
}

.custom-style {
  height: 36px;
  background-color: transparent;
  border-color: $neutral-light;
  color: $neutral-deep;

  &:hover:not(:disabled) {
    @include standard-focus;

    .base-btn-icon-custom {
      color: $neutral-white !important;
      @include transition-effect;
    }
  }

  &:disabled {
    opacity: 0.5;
  }

  &:focus-visible {
    @include standard-focus;

    .base-btn-icon-custom {
      color: $neutral-white !important;
    }
  }
}