// Spacing/Margin/Padding
$quarck: 4px;
$nano: 8px;
$xxxs: 12px;
$xxs: 16px;
$xs: 24px;
$sm: 32px;
$md: 40px;
$lg: 48px;
$xl: 56px;
$xxl: 64px;
$xxxl: 72px;
$huge: 128px;

// Font
$font-xxxs: 12px;
$font-xxs: 14px;
$font-xs: 16px;
$font-sm: 20px;
$font-md: 24px;
$font-lg: 28px;
$font-xl: 32px;
$font-xxl: 40px;
$font-xxxl: 48px;

// Icon
$icon-xs: 16px;
$icon-sm: 20px;
$icon-x: 24px;
