//** CUSTOM.SCSS RESET FILE **//

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	margin: 0;
	padding: 0;
	line-height: initial;
}

h2 {
	font-size: initial;
	font-weight: initial;
}

tfoot input {
	margin: initial;
	width: initial;
	color: inherit;
}

legend {
	font-size: initial;
	color: initial;
	padding-bottom: initial;
}

textarea {
	padding: initial;
	vertical-align: initial;
	width: initial;

	&:focus {
		outline-style: initial;
		outline-width: initial;
	}
}

header {
	width: initial;
}

fieldset {
	border: initial;
	margin: initial;
	padding: initial;
}

em,
mark {
	display: initial;
	font-style: initial;
	font-family: initial;
	color: initial;
	padding: initial;
	border-radius: initial;
	font-weight: initial;
	text-transform: initial;
	background-color: initial;
}
