@tailwind base;
@tailwind components;
@tailwind utilities;

/* Design System CSS Variables */
:root {
  /* NEUTRAL COLORS */
  --neutral-white: #ffffff;
  --neutral-pure: #f6f6fa;
  --neutral-soft: #f0f2f9;
  --neutral-pale: #dce0f1;
  --neutral-light: #c8cce6;
  --neutral-default: #bbc0cb;
  --neutral-deep: #69728b;
  --neutral-dark: #343d52;
  --neutral-darkest: #081128;

  /* BLUE COLORS */
  --blue-primary: #121d59;
  --blue-secondary: #384483;
  --blue-tertiary: #636da9;
  --blue-quaternary: #939dca;
  --blue-quinary: #c8cce6;
  --blue-senary: #f0f2f9;

  /* OCEAN COLORS */
  --ocean-primary: #1ec7d9;
  --ocean-secondary: #79e4f0;
  --ocean-tertiary: #0b8f9e;
  --ocean-quaternary: #aaebf2;
  --ocean-quinary: #aaebf2;
  --ocean-senary: #ddf7f9;

  /* BEIGE COLORS */
  --beige-primary: #cdbc88;
  --beige-secondary: #d8cba4;
  --beige-tertiary: #a79662;
  --beige-quaternary: #ede4c8;
  --beige-quinary: #f1ede1;
  --beige-senary: #f8f6f0;

  /* RED COLORS */
  --red-primary: #950928;
  --red-secondary: #db0836;
  --red-tertiary: #5d0418;
  --red-quaternary: #fd2655;
  --red-quinary: #fcafc0;
  --red-senary: #ffdce3;

  /* ORANGE COLORS */
  --orange-primary: #ca3500;
  --orange-secondary: #f54900;
  --orange-tertiary: #7e2a0c;
  --orange-quaternary: #ff6900;
  --orange-quinary: #ffb86a;
  --orange-senary: #ffede0;

  /* GREEN COLORS */
  --green-primary: #0a5c23;
  --green-secondary: #0c8c32;
  --green-tertiary: #0b3817;
  --green-quaternary: #18bf4a;
  --green-quinary: #87eca5;
  --green-senary: #dbfde5;

  /* YELLOW COLORS */
  --yellow-primary: #e4ce00;
  --yellow-secondary: #fce300;
  --yellow-tertiary: #b09f00;
  --yellow-quaternary: #fdeb40;
  --yellow-quinary: #fef180;
  --yellow-senary: #fffce0;

  /* PINK COLORS */
  --pink-primary: #ff89a3;
  --pink-secondary: #fcafc0;
  --pink-tertiary: #dd4b6b;
  --pink-quaternary: #fdd3d0;
  --pink-quinary: #fed7e0;
  --pink-senary: #fff0f5;

  /* PURPLE COLORS */
  --purple-primary: #504299;
  --purple-secondary: #856dff;
  --purple-tertiary: #28214c;
  --purple-quaternary: #aab1ff;
  --purple-quinary: #cec5ff;
  --purple-senary: #f6f3ff;

  /* MUSTARD COLORS */
  --mustard-primary: #f0ad00;
  --mustard-secondary: #ffc700;
  --mustard-tertiary: #997700;
  --mustard-quaternary: #ffd580;
  --mustard-quinary: #ffe380;
  --mustard-senary: #fff4d9;

  /* BACKGROUND COLORS */
  --bg-primary: var(--neutral-white);
  --bg-secondary: var(--neutral-soft);
  --bg-tertiary: var(--neutral-pale);
  --bg-quaternary: var(--neutral-pure);

  /* TEXT COLORS */
  --text-primary: var(--neutral-darkest);
  --text-secondary: var(--neutral-dark);
  --text-tertiary: var(--neutral-deep);
  --text-quaternary: var(--neutral-default);
  --text-white: var(--neutral-white);
}
