@mixin background-blur {
	background: rgba(18, 18, 20, 0.24);
	backdrop-filter: blur(2px);
}

@mixin drop-shadow-extra-soft {
	box-shadow: 0px 4px 8px 0px rgba(18, 18, 20, 0.04);
}

@mixin drop-shadow-soft {
	box-shadow: 0px 4px 8px 0px rgba(18, 18, 20, 0.08);
}

@mixin drop-shadow-medium {
	box-shadow: 0px 4px 8px 0px rgba(18, 18, 20, 0.16);
}

@mixin drop-shadow-medium-inverted {
	box-shadow: 0px -4px 8px 0px rgba(18, 18, 20, 0.16);
}

@mixin drop-shadow-hard {
	box-shadow: 0px 0px 0px 1px rgb(18, 18, 20);
}

@mixin drop-shadow-hard-blue {
	box-shadow: 0px 0px 0px 1px rgb(0, 140, 255);
}

@mixin drop-shadow-extra-hard {
	box-shadow: 0px 0px 0px 2px rgb(18, 18, 20);
}

@mixin transition-effect {
	transition: all 0.2s linear;
}

@mixin prevent-selection {
	user-select: none;
	-webkit-user-drag: none;
	-moz-drag-over: none;
}
