@mixin montserrat-400 {
	font-family: 'Montserrat-Regular', sans-serif;
	font-weight: 400;
}

@mixin montserrat-500 {
	font-family: 'Montserrat-Medium', sans-serif;
	font-weight: 500;
}

@mixin montserrat-600 {
	font-family: 'Montserrat-SemiBold', sans-serif;
	font-weight: 600;
}

@mixin montserrat-700 {
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: 700;
}
