//** DESIGN SYSTEM COLORS **//

$neutral-white: var(--neutral-white);
$neutral-pure: var(--neutral-pure);
$neutral-soft: var(--neutral-soft);
$neutral-pale: var(--neutral-pale);
$neutral-light: var(--neutral-light);
$neutral-default: var(--neutral-default);
$neutral-deep: var(--neutral-deep);
$neutral-dark: var(--neutral-dark);
$neutral-darkest: var(--neutral-darkest);

$blue-primary: var(--blue-primary);
$blue-secondary: var(--blue-secondary);
$blue-tertiary: var(--blue-tertiary);
$blue-quaternary: var(--blue-quaternary);
$blue-quinary: var(--blue-quinary);
$blue-senary: var(--blue-senary);

$ocean-primary: var(--ocean-primary);
$ocean-secondary: var(--ocean-secondary);
$ocean-tertiary: var(--ocean-tertiary);
$ocean-quaternary: var(--ocean-quaternary);
$ocean-quinary: var(--ocean-quinary);
$ocean-senary: var(--ocean-senary);

$red-primary: var(--red-primary);
$red-secondary: var(--red-secondary);
$red-tertiary: var(--red-tertiary);
$red-quaternary: var(--red-quaternary);
$red-quinary: var(--red-quinary);
$red-senary: var(--red-senary);

$orange-primary: var(--orange-primary);
$orange-secondary: var(--orange-secondary);
$orange-tertiary: var(--orange-tertiary);
$orange-quaternary: var(--orange-quaternary);
$orange-quinary: var(--orange-quinary);
$orange-senary: var(--orange-senary);

$green-primary: var(--green-primary);
$green-secondary: var(--green-secondary);
$green-tertiary: var(--green-tertiary);
$green-quaternary: var(--green-quaternary);
$green-quinary: var(--green-quinary);
$green-senary: var(--green-senary);

$pink-primary: var(--pink-primary);
$pink-secondary: var(--pink-secondary);
$pink-tertiary: var(--pink-tertiary);
$pink-quaternary: var(--pink-quaternary);
$pink-quinary: var(--pink-quinary);
$pink-senary: var(--pink-senary);

$mustard-primary: var(--mustard-primary);
$mustard-secondary: var(--mustard-secondary);
$mustard-tertiary: var(--mustard-tertiary);
$mustard-quaternary: var(--mustard-quaternary);
$mustard-quinary: var(--mustard-quinary);
$mustard-senary: var(--mustard-senary);

$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-tertiary: var(--text-tertiary);
$text-white: var(--text-white);
