//** DESIGN SYSTEM SIZES AND SPACING **//

$tiny: 4px;
$mini: 8px;
$xxxs: 12px;
$xxs: 16px;
$xs: 24px;
$sm: 32px;
$md: 40px;
$lg: 48px;
$xl: 56px;
$xxl: 64px;
$xxxl: 72px;
$huge: 128px;

$text-sm: 12px;
$text-base: 14px;
$text-md: 16px;
$text-lg: 20px;
$text-xl: 24px;

$icon-base: 20px;
$icon-md: 24px;

$border-base: 1px;
$border-md: 2px;
$border-lg: 3px;

$border-radius-base: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;
$border-radius-xl: 100px;

$line-height-base: 100%;
$line-height-md: 120%;
$line-height-lg: 130%;
