@mixin drop-shadow-extra-hard {
  box-shadow: 0px 0px 0px 2px rgb(18, 18, 20);
}

@mixin transition-effect {
  transition: all 0.2s linear;
}

@mixin flex-row($gap: 0) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $gap;
}
